  body {
    margin: 0;
    background-color: rgb(1, 68, 68);
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Taviraj', serif;
  }
  
  .headerCon {
    background-color: rgb(12, 97, 136);
    text-align: center;
    border-style: groove;
    border-width: 10px;
    border-color: rgb(69, 81, 83);
    box-shadow: 0px 0px 1000px 100px rgba(236, 239, 239, 0.439);
    width: 81.2%;
    margin-left: 8.9%;
    color: white;
    font-weight: bolder;
  }
  
  .profileCon {
    width:95px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: blanchedalmond;
    align-items: center;
    padding: 5px;
    border-style: solid groove;
    border-color: gray grey;
    border-width: 8px;
    position:fixed;
  }

  .skillsCon{
    width: fit-content;
    height: 97.1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: blanchedalmond;
    align-items: center;
    padding:5px;
    border-style: solid groove;
    border-color: gray grey;
    border-width: 8px;
    position:fixed;
    margin-left: 93.65%;
  }

.profileImg{
  display: flex;
  border-radius: 100%;
  width: 400px;
  height: 400px;
  border-style: groove;
  border-width: 8px;
  border-color: black blanchedalmond;
  box-shadow: 0px 0px 100px 1px rgb(4, 4, 4);
}

.linkImg:hover{
   border-color: white;
    box-shadow: 0px 0px 20px 5px black;
    transform: scale(1.1, 1.1);
}

  .linkImg{
    border-radius: 40%;
    border-style: solid;
    border-color: black;
    border-width: 4px;
  }

  .welcomeCon{
    width:400px;
    height: fit-content;
    text-align: center;
    background-color: blanchedalmond;
    border-style: solid;
    padding: 5px;
    font-size: large;
    box-shadow: 1px 1px 1px 5px rgba(7, 7, 7, 0.416);
  }

  .aboutCon{
    width:400px;
    height: fit-content;
    text-align: center;
    background-color: blanchedalmond;
    border-style: solid;
    padding: 5px;
    font-size: large;
    box-shadow: 1px 1px 1px 5px rgba(7, 7, 7, 0.416);
    margin-top: 1%;
  }

  .welcomeAboutCon{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1%;
    align-items: center;
  }

  .gumballcon{
    width:79.5%;
    height: fit-content;
    text-align: center;
    background-color: blanchedalmond;
    border-style: solid;
    padding: 5px;
    font-size: large;
    padding: 20px;
    margin-left: 9%;
    margin-bottom: 2%;
    box-shadow: 1px 1px 1px 5px rgba(7, 7, 7, 0.416);
  }

  .eightcon{
    width:79.5%;
    height: fit-content;
    text-align: center;
    background-color: blanchedalmond;
    border-style: solid;
    padding: 5px;
    font-size: large;
    padding: 20px;
    margin-left: 9%;
    box-shadow: 1px 1px 1px 5px rgba(7, 7, 7, 0.416);
  }

  .beatzCon{
    width:81.1%;
    height: fit-content;
    text-align: center;
    background-color: blanchedalmond;
    border-style: solid;
    padding: 5px;
    font-size: large;
    margin-left: 9%;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 1px 1px 1px 5px rgba(7, 7, 7, 0.416);
  }

  .projectHead{
    width:fit-content;
    height: fit-content;
    text-align: center;
    background-color: blanchedalmond;
    border-style: solid;
    padding: 5px;
    padding: 10px;
    margin-left: 45.4%;
    margin-bottom: 2%;
    margin-top: -1%;
    box-shadow: 1px 1px 1px 5px rgba(7, 7, 7, 0.416);
  }

  .gumLinks{
    display: flex;
    flex-direction:row;
    justify-content: center;
    padding:5px;
  }

.gitLinkGum{
  margin-right: .5%;
}

.tubeLinkGum{
  margin-left: .5%;
}

  .eightLinks{
    display: flex;
    flex-direction:row;
    justify-content: center;
    padding:5px;
  }

  .gitLinkEight{
    margin-right: 1%;
  }

  .loomLinkEight{
    margin-left: 1%;
  }